<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p><%=@message %></p>
        <p><%=@user.name%>, <%=@user.email%></p>
        <br>
        <a href="/edit?id=<%=@user.id%>">edit</a>
        <br>
        <a href='/'>Home</a>
    </body>
</html>



